body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*------------------------------------ */

.product {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Imagen principal del producto */
.product__principal-image {
    background-image: url('../assets/image/baner2.png'); /* Puedes cambiar la imagen */
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    width: 100%;
}

.product__title {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
}

/* Contenedor de detalles del producto */
.product__details-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px 20px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    width: 70%;
    text-align: center;
    

}

/* Detalles individuales */
.product__details {
    flex: 1;
    padding-right: 20px;
}

.product__details-1,
.product__details-2 {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product__details-1 p,
.product__details-2 p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

/* Slider del producto */
.product__slider {
    flex: 1.5;
    padding-left: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    box-shadow: 0 2px 5px rgba(159, 31, 31, 0.1);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

/* Contenedor de actividades del producto */
.product__activities-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px 20px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    width: 80%;
    text-align: center;
    
}

/* Actividades relacionadas */
.product__activities {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Detalles adicionales */
.product__extra-details-container {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}




.slider {
    width: 350px;
    height: 250px;
    overflow: hidden;
    position: relative;
  }

  /* Contenedor de las imágenes */
  .slides {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slide 10s infinite;
  }

  /* Estilos para cada imagen */
  .slides img {
    width: 100%;
    height: 100%;
  }

  /* Keyframes para la animación */
  @keyframes slide {
    0% { margin-left: 0%; }
    20% { margin-left: 0%; }
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    95% { margin-left: -300%; }
    100% { margin-left: 0%; }
  }




